/*ID Classes*/
.container {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 4%;
    background-color: #D59527;
    border: 1px solid #D59527;
    background-image:url('../images/minecraftlogo.png');
    background-size: cover;
}
.inner-container{
    position: relative;
    display: block;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 20%;
    padding-top: 20%;
    text-align: center;
}

#board {
    display: inline-block;
    border: 1px solid black;
}

#sidebar {
    position: relative;
    top: -120px;
    height: 150%;
    display: inline-block;

}

#toolbox {
}

#inventory {

}
/*End ID*/

/*Welcome Page*/
.startButton{
    position: relative;
    color: #D59527;
    height: 50px;
    margin-top: -5%;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    font-size: 30px;
    display: inline;
}
.startButton:hover{
    color: white;
}

/*Cursors*/
.cursor-shovel{
    cursor: url('../images/cursors/cursor.cur'), auto;
}
.cursor-pickaxe{
    cursor: url('../images/cursors/pickaxe.cur'), auto;
}
.cursor-axe{
    cursor: url('../images/cursors/axe.cur'), auto;
}

/*Board Classes*/
.tile {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}
.tile:hover{
    border: 1px solid white;
    box-sizing: border-box;
}


.tile.interact:hover {
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.2), url('C:\dev\Web\jQuery\Minecraft-Game\images\Tiles'));*/
    border: 4px solid #11841C;

}

.row{
    height: 30px;
    display: block;
    line-height: 0;
    margin: 0px;
    padding: 0px;
}

/*Tile Classes*/
.sky {
    background-color: lightblue;
}

.cloud {
    background-image: url(../images/tiles/cloud.png);
    background-size: contain;
}

.stone {
    background-image: url(../images/tiles/cobblestone.png);
    background-size: contain;
}

.leaves {
    background-image: url(../images/tiles/leaves.png);
    background-size: contain;
}

.wood {
    background-image: url(../images/tiles/trunk.png);
    background-size: contain;
}

.grass {
    background-image: url(../images/tiles/grass_side.png);
    background-size: contain;
}

.earth {
    background-image: url(../images/tiles/dirt.png);
    background-size: contain;
}

/* Tool Classes */
#pickaxe{
    background-image: url('../images/pickaxegoodres.png');
    background-size: cover;
}
#shovel{
    background-image: url('../images/shovelgoodres.png');

    background-size: cover;
}
#axe{
    background-image: url('../images/axegoodres.png');

    background-size: cover;
}
#inventory{
    height: 30px;
    width: 30px;
    background-color: transparent; !important;
    margin-left: 33%;
    margin-top: 20%;
    position: relative;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    border: 1px solid #000000;
}
.tools{
    height: 100px;
    width: 100px;
    margin: 14%;
    border-radius: 21px 21px 21px 21px;
    -moz-border-radius: 21px 21px 21px 21px;
    -webkit-border-radius: 21px 21px 21px 21px;
    border: 0px solid #000000;
    cursor: pointer;
}

.bottomButton {
    margin: 10px;
    display: inline-block;
    width: 130px;
    height: 40px;
    border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    background-color: #395668;
    padding-right: 1%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: -0.5%;
    color: #D59527;
    font-family: 'Press Start 2P', cursive;;

}
.bottomButton:hover{
    cursor: pointer;
    background-color: black;

}
#bottom{
    margin-left: 20%;
}
